<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    title css parallax
    link(rel="stylesheet", href="app.css")
  body
    .container
      .item
        img(src="/assets/images/sample/background.jpeg")

      .item
        img(src="/assets/images/sample/background.jpeg")

      .item
        img(src="/assets/images/sample/background.jpeg")

      .item
        img(src="/assets/images/sample/background.jpeg")

      .item
        img(src="/assets/images/sample/background.jpeg")

      .item
        img(src="/assets/images/sample/background.jpeg")

      .item2
        img(src="/assets/images/sample/background.jpeg")

      .item2
        img(src="/assets/images/sample/background.jpeg")

      .item2
        img(src="/assets/images/sample/background.jpeg")
