<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    title css pulldown
    link(rel="stylesheet", href="app.css")
  body
    .header
      .header__navigation
        input.header__navigation__input(type="checkbox" id="navigation")
        label.header__navigation__menu(for="navigation")
        .header__navigation__contents
          .header__navigation__contents__item
            | hoge
          .header__navigation__contents__item
            | hoge
          .header__navigation__contents__item
            | hoge
          .header__navigation__contents__item
            | hoge
          .header__navigation__contents__item
            | hoge
    .content
      | content
