<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    title css parallax
    link(rel="stylesheet", href="app.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  body(onload="initialize()")
    .container
      .bl-header
      .search
        input(type="text")
        input(type="submit")
      .content
        .result
          ul.bl-searchResultList.js-searchResultList
        .map
          .bl-map
            button.js-heatmap.bl-map__heatmapButton(data-text="地価ヒートマップを表示" data-selected-text="地価ヒートマップを非表示")
            #map
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDA-PRmrl6JH2fcrs2Gpj1mAAoO90fJNDg&language=ja&libraries=visualization")

    script(src="app.js")
