@import '../../assets/stylus/core/_import'
@import '../../assets/stylus/component/_article'

html, body
  height 100%
  overflow hidden
.container
  perspective 1000px
  height 100vh
  position relative

.road
  position absolute
  height 10000px
  width 500px
  background grey
  left 50%
  top 100%
  transform rotateX(75deg) translate3d(-50%, -100%, 0)
  transform-origin 50% 0