<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    title css parallax
    link(rel="stylesheet", href="app.css")
  body
    .container
      .layer01
        .layer01__item
        .layer01__item
        .layer01__item
        .layer01__item
        .layer01__item
      .layer02
        .layer02__item
        .layer02__item
        .layer02__item
        .layer02__item
        .layer02__item

      .base
        .keyvisual
          .keyvisual__title CSSでパララックス
        .content01.
          何かしらがつらつらと<br>
          何かしらがつらつらと<br>
          何かしらがつらつらと<br>
          何かしらがつらつらと<br>
          何かしらがつらつらと<br>

        .content02.
          何かしらがつらつらと<br>
          何かしらがつらつらと<br>
          何かしらがつらつらと<br>
          何かしらがつらつらと<br>
          何かしらがつらつらと<br>

        .content03.
          何かしらがつらつらと<br>
          何かしらがつらつらと<br>
          何かしらがつらつらと<br>
          何かしらがつらつらと<br>
          何かしらがつらつらと<br>

      .layer11
        .layer11__item
        .layer11__item
        .layer11__item
        .layer11__item
        .layer11__item
      .layer12
        .layer12__item
        .layer12__item
        .layer12__item
        .layer12__item
        .layer12__item
